.idea

docker/.env

/vendor/
/node_modules/

wordpress/*
!wordpress/wp-content
wordpress/wp-content/index.php
wordpress/wp-content/plugins/*.php
wordpress/wp-content/plugins/*/*
!wordpress/wp-content/plugins/*/.gitkeep
wordpress/wp-content/themes/*.php
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/*/.gitkeep
wordpress/wp-content/uploads

composer.lock
